:root {
  color-scheme: light dark;
}
body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #223a2c);
  font-family: sans-serif;
  font-size: 0.8rem;
}
button {
  border: none;
}

hr {
  margin: 2rem 0;
}
hr:has(+ #output:empty) {
  display: none;
}
